/****************************************/
/* mlweb.css                            */
/* Used for mouselabWEB pages           */
/* Version 1.00beta Aug 14 2008         */
/****************************************/

/****************************************/
/* HTML tag styles                      */
/****************************************/ 

.bodyDiv
{
	width:1100px;
	margin:0 auto;
}

.nextBUT
{
	font-size:24px;
	padding:3px 60px;
}

body{
	font-family: Verdana, sans-serif;
	color: #000000;
	line-height: 1.5;
	background-color: #FFFFFF;
}

body2{
	font-family: Verdana, sans-serif;
	color: #333333;
	line-height: 1.5;
	margin-top: 200px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 320px;
	background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Arial, sans-serif;
 font-size: 100%;
 color: #3B4955;
}

h2{
	font-family: Verdana, sans-serif;	
	font-size: 100%;
	color: #000000;
	padding-bottom: 10px;
}

h3{
 font-size: 200%;
 color: #000000;
	margin: 0px;
	padding: 0px;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}

h5{
 font-size: 100%;
 color: #334d55;
}



P, ul, ol, TD {
	font-size: 100%;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
}
				
/***********************************************/
/* MLWEB Divs                                 */
/***********************************************/
.mlwebTD, .actTD {
	font-family: Verdana,sans-serif;
	font-size: 13px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
	font-weight:inherit;
	border: none;
	background-color: #33CC66 ;
	
}

.mlwebBox, .boxTD {
	font-family: Verdana,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight:bold;
	color: #FAFAFA;
	text-decoration: none;
	vertical-align: middle;
	border: none;
	background-color: #87CEEB;
	
}


.mlheaderTD, .inactTD {
	font-family: Verdana,sans-serif;
	font-size: 15px;
	font-weight: inherit;
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
	border: none;
	background-color: #FFFFFF;
}

.btnStyle {
	font-family: Verdana,sans-serif;   
	font-size:10px;
	color: #000000;
   background-color: #EEE;
   border:2px solid;
   border-top-color:#FFF;
   border-left-color:#FFF;
   border-right-color:#444;
   border-bottom-color:#444;
   width:100px; display:block;
 white-space: normal;
 height:65px;
}
.pressedStyle {
   background-color: #336666 ;
   font-size:84%;
   background-color:#CCC;
   border:1px solid;
   border-top-color: #003366;
   border-left-color:#003366;
   border-right-color: #FFF;
   border-bottom-color:#FFF;
}
.btnhov{
   border-top-color: #006699;
   border-left-color:#006699;
   border-right-color: #0099CC;
   border-bottom-color:#0099CC;
   }
   
.tmCont {
	border: 1px solid #FFFFFF;
	position: relative;	
	z-index: 1;
	height: 22px;
	}
	
.tmBar {
 	background: #AAAAAA;
	height: 18px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2;
	
}
.tmTime {
	height: 18px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 3;
	text-align: center;
	color: #334d55;
	background-image: none;
}
